@font-face {
  font-family: "iconfont"; /* Project id 4159224 */
  src: url("//at.alicdn.com/t/c/font_4159224_5l1zeuxjnmx.woff2?t=1688961536401") format('woff2'), url("//at.alicdn.com/t/c/font_4159224_5l1zeuxjnmx.woff?t=1688961536401") format('woff'), url("//at.alicdn.com/t/c/font_4159224_5l1zeuxjnmx.ttf?t=1688961536401") format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-aixin_shixin:before {
  content: "\eca1";
}
.icon-goutongye_zuojiantou_fanhui:before {
  content: "\e637";
}
.icon-gongju:before {
  content: "\e6fa";
}
.icon-sousuo:before {
  content: "\e62f";
}
.icon-rizhi:before {
  content: "\e60c";
}
.icon-shouye:before {
  content: "\e62e";
}
.icon-huidaodingbu:before {
  content: "\e695";
}
.icon-gonggao:before {
  content: "\e6f9";
}
.icon-zhandian:before {
  content: "\e66b";
}
.icon-jiantoutubiao:before {
  content: "\e617";
}
.icon-guanyuwomen:before {
  content: "\e66a";
}
.icon-youqinglianjie:before {
  content: "\e636";
}
.icon-pinglun:before {
  content: "\e891";
}
.icon-github-fill:before {
  content: "\e885";
}
.icon-envelope:before {
  content: "\f28e";
}
